{% extends 'base.html.jinja' %}

{% block content %}
    <h1> {% block title %} Category list {% endblock %}</h1>
    <ul>
        {% for category in categories %}
            <div class="category">
                <li> <b>Category name: </b>{{category.name}}</li>
                <p><b>Description: </b>{{category.description}}</p>
                <a href="/category/modify/{{category._id}}">Update</a> - <a href="/category/delete/{{category._id}}">Delete</a>
            </div> 
            <br>
        {% endfor %}
    </ul>
{% endblock %}