{% extends "base.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block title %} Create exam {% endblock %}</h1>
        <div>
            <label for="name"> Exam name: </label>
            <br>
            <input type="text" name="name" 
            placeholder="Exam name">
        </div>
        <br>
        <div>
            <label for="categories"> Category: </label>
            <br>
            <select name="category"></select>
            <br>
            <label for="indications"> Indications: </label>
            <br>
            <select name="indication"></select>
        </div>
        <br>
        <div>
            <label for="sampleType"> Sample type: </label>
            <br>
            <input type="text" name="sampleType" 
            placeholder="Sample type">
        </div>
        <br>
        <div>
            <label for="price"> Exam price: </label>
            <br>
            <input type="text" name="price" 
            placeholder="Exam price">
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}