{% extends "base.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block title %} Create indication {% endblock %}</h1>
        <div>
            <label for="desc"> Indication description: </label>
            <br>
            <input type="text" name="indicationDescription" 
            placeholder="Indication description">
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}