{% extends "base.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block title %} Create exam {% endblock %}</h1>
        <div>
            <label id="name"> Exam name: </label>
            <br>
            <input type="text" name="name" 
            placeholder="Exam name">
        </div>
        <br>
        <div>
            <label id="categories"> Category: </label>
            <br>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label id="indications"> Indications: </label>
            <br>
            <select name="indication">
                {% for indication in indications %}
                    <option value="{{ indication.description }}">{{ indication.description }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div>
            <label id="sampleType"> Sample type: </label>
            <br>
            <input type="text" name="sampleType" 
            placeholder="Sample type">
        </div>
        <br>
        <div>
            <label id="price"> Exam price: </label>
            <br>
            <input type="text" name="price" 
            placeholder="Exam price">
        </div>
        <br>
        <div>
            <button type="submit" class="btnH">Create</button>
            <br>
            <a href="{{ url_for('listExams') }}">See catalog</a>
        </div>
    </form>
{% endblock %}