{% extends "base.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block title %} Update indication {% endblock %}</h1>
        <div>
            <label for="desc"> Indication description: </label>
            <br>
            <input type="text" name="indicationDescription" 
            placeholder={{indication.description}} value="{{indication.description}}">
        </div>
        <br>
        <button type="submit" class="btnH">Update</button>
    </form>
{% endblock %}