{% extends "base.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block title %} Update category {% endblock %}</h1>
        <div>
            <label for="name"> Category name: </label>
            <br>
            <input type="text" name="categoryName" 
            placeholder={{category.name}} value="{{category.name}}">
        </div>
        <br>
        <div>
            <label for="code"> Description: </label>
            <br>
            <input type="text" name="categoryDescription" 
            placeholder={{category.description}} value="{{category.name}}">
        </div>
        <br>
        <button type="submit" class="btnH">Update</button>
    </form>
{% endblock %}