{% extends "baseHome.html.jinja" %}

{% block content %}
    <form method="POST" class="form">
        <h1> {% block titlePage %} User register {% endblock %}</h1>

        <div>
            <label for="username">Username: </label>
            <br>
            <input type="text" name="username" required placeholder="Username">
        </div>
        <br>
        <div>
            <label for="password">Password: </label>
            <br>
            <input type="password" name="password" required placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btnH">Register</button>
        <br>
        <div class="links">
            <p>Already have an account? <a href="{{ url_for('loginF')}}">Log in</a></p>    
        </div>    
    </form>
{% endblock %}